<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<% if @path != 'index' %>
<title><%= @path %> - arc680.info</title>
<% else %>
<title>arc680.info</title>
<% end %>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/grids-responsive-min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</head>
<body>

<header>
    <div class="twitter-icon"><img class="pure-img" src="<%= p @profile['profile_image_uri'] %>"></div>
    <div class="site-title"><h1>arc680.info</h1></div>
</header>

<article>
    <div class="accordion">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected">
                    <span class="pure-menu-link">
                        <i class="fa fa-user"></i> Profile
                    </span>
                </li>
                <li class="pure-menu-item">
                    <span class="pure-menu-link">
                        <i class="fa fa-cog"></i> Account
                    </span>
                </li>
                <li class="pure-menu-item">
                    <span class="pure-menu-link">
                        <i class="fa fa-cog"></i> Skill
                    </span>
                </li>
                <li class="pure-menu-item">
                    <span class="pure-menu-link">
                        <i class="fa fa-cog"></i> Work
                    </span>
                </li>
            </ul>
        </div>
        
        <div class="accordion-contents pure-g">
            <div class="content-wrap pure-u-1 pure-u-sm-1-3">
                <h2 ><i class="fa fa-user"></i> Profile</h2>
                <div class="">
                    <div class="twitter-name"><%= @profile['name'] %>（@<span class="twitter-screen-name"><%= @profile['screen_name'] %>）</span></div>
                    <div class="twitter-description"><%= @profile['description'].gsub(/\n/, "<br />") %></div>
                </div>
            </div>
            <div class="content-wrap hidden pure-u-1 pure-u-sm-1-3">
                <h2><i class="fa fa-cog"></i> Account</h2>
                <div class="">
                    <dl class="">
                        <dt><i class="fa fa-twitter"></i> Twitter</dt>
                            <dd><a href="https://twitter.com/arc680" class="pure-link">arc680</a></dd>
                        <dt><i class="fa fa-linux"></i> Blog</dt>
                            <dd><a href="http://arc680.hatenablog.jp/" class="pure-link">あーく・りなっくす</a></dd>
                        <dt><i class="fa fa-instagram"></i> instagram</dt>
                            <dd><a href="http://arc680.hatenablog.jp/" class="pure-link">arc680</a></dd>
                        <dt><i class="fa fa-github"></i> Github</dt>
                            <dd><a href="https://github.com/arc680/" class="pure-link">arc680</a></dd>
                        <dt><i class="fa fa-bitbucket"></i> BitBucket</dt>
                            <dd><a href="https://bitbucket.org/arc680/" class="pure-link">arc680</a></dd>
                    </dl>
                </div>
            </div>
            <div class="content-wrap hidden pure-u-1 pure-u-sm-1-3">
                <h2><i class="fa fa-cog"></i> Skill</h2>
                <div class="">
                    <dl>
                        <dt>りんご</dt>
                            <dd>赤い色をした丸い果物。</dd>
                        <dt>バナナ</dt>
                            <dd>黄色い色をした細長い果物。</dd>
                    </dl>
                </div>
            </div>
            <div class="content-wrap hidden pure-u-1 pure-u-sm-1-3">
                <h2><i class="fa fa-cog"></i> Work</h2>
                <div class="">
                </div>
            </div>
        </div>
    </div>
</article>

<footer />

</body>
</html>
